/* Gotta make sure not to get flash banged*/
body {
  background-color: gray;
}
main {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.plants {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20ch, 1fr));
  gap: 1ch;
}
.plant-details {
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 5px;
  border:
    solid rgba(0, 0, 0, 0.25),
    2px;
}
